@import "./config-scss/rem-calc.scss";
@import "./config-scss/reset.scss";
@import "./config-scss/variables.scss";

html {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg);
}

main {
  width: rem-calc(740);
  margin: 0 auto;
  box-sizing: border-box;
}
